/* Подключение шрифтов */
/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v20-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/open-sans-v20-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v20-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/open-sans-v20-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v20-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-300 - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/raleway-v22-latin_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/raleway-v22-latin_cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/raleway-v22-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/raleway-v22-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v27-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v27-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Общие стили */
* {
  box-sizing: border-box;   /* все границы и отступы учитывать в ширине и высоте элемента */
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;   /* после запятой альтернативный шрифт */
}

h1 {
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 116px;
  text-align: center;
  color: #ffffff;
}

h2 {
  font-size: 58px;
  line-height: 68px;   /* расстояние между стороками */
}

p {
font-family: "Open Sans", sans-serif;
font-style: normal;
font-weight: 300;
font-size: 18px;
text-align: center;
color: #152B3C;
}

.container {
  width: 1280px;
  margin: 0 auto;    /* если определены 2 значения то первое отступ сверху второе внешний отступ левой и правой стороны */
}

img {
  display: block;   /* картинки расположены в столбик */
  width: 100%;
}

/* Кнопка */
.btn {
padding: 15px 30px;
width: 164px;
height: 63px;
bottom: 0px;
background: #D46240;
border-radius: 5px;
}

.btn_font {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

/* Шапка сайта */
.header {
background-color: #152b3c;
}

.header-wrap {
  display: flex;
  align-items: center;   /* выравнивание по поперечной оси применяется к родит. эл-ту для flex блоков */
}

.phone {
  margin-left: 20px;
}

.main-logo {
  margin-right: auto;
  font-family: Raleway,sans-serif;
  font-weight: 300;
  font-size: 42px;
}

.phone {
  font-family: Roboto;
  font-size: 28px;
}

.main-logo,
.phone {
  color: #fbf2da;
  text-decoration: none;   /* без оформления */
}

.main-nav {
  text-align: center;   /* не заметил никакой разницы  */
}

.main-nav ul {
  margin: 0;
  padding: 0;
}

.main-nav li {
  display: inline-block;   /* расположить в одну строку */
}

.main-nav a {
  display: block;
  padding: 36px 25px;   /* 36 верх и низ 25 слева и справа */
  font-weight: normal;   /* нормальное начертание 400 */
  font-size: 24px;
  color: #fbf2da;
  text-decoration: none;   /* удаляет оформление(подчеркивание) */
  text-transform: none;   /* регистр не меняется */
}

.main-nav a:hover {
  color: #d46240;
} /* псевдокласс hover применяется для выделения при наведении курсора мыши */

.main-nav .active {
  /* background-color: #d46240; */
  color: #d46240;
} /* первоначально выделенный элемент навигации */




/* Промо */
.promo {
  text-align: center;    /* выравнивание линейного содержимого (текста) по центру в родительском блоке */
  background-image: url(../images/castle.jpg);
  background-repeat: no-repeat;   /* изображение не повторяется */
  background-size: cover;   /* масштабирование изображения максимально большим с сохранением пропорций */
  background-position: center;   /* центруем изображение */
  height: 100%;
}

.promo-bg {
  background-color: rgba(45, 45, 45, 0.4);
  height: 100%;
  border: 1px solid #000;    /* временно */
}

.promo-about {
  margin: 130px 0 235px 0;
}


.promo-info {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #ffffff;
 }




/* Услуги */
.services-title {
  font-family: raleway,sans-serif;
  font-weight: 300;
  font-size: 58px;
  text-align: center;
  color: #d46240;
}

.services-item-head {
  font-family: raleway,sans-serif;
  font-weight: 300;
  font-style: 36px;
  text-align: center;
  color: #15b2c3;
}

.services-cost {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 28px;
  font-style: normal;
  text-align: center;
  color: #d46240;
}





/* Мероприятия */
 .social-icon {
   width: 10px;
   height: 10px;
 }

 .social-arrow {
   width: 80px;
   height: 80px;
   color: #d46240;
 }

.social-pointer {
  width: 25px;
  height: 25px;
  color: #c4c4c4;
}


/* Локации */
.location-header {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 58px;
  line-height: 68px;
  text-align: center;
  color: #D46240;
}

.location-elements {
  background-repeat: no-repeat;   /* изображение не повторяется */
  background-size: cover;   /* масштабирование изображения максимально большим с сохранением пропорций */
  background-position: center;   /* центруем изображение */
  height: 272px;
  width: 624px;
}

.location-elements-header {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: #FBF2DA;
  text-align: letf; /*выравнивание текста влево в родительском блоке */
}

.location-elements-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #fbf2da;
  text-align: left;
  text-decoration: none;
}

.location-wrap a:hover {
  color:#d46240;
}

.location-fortes {
  background-image: url(../images/fortes.png);
}

.location-lighthouses {
  background-image: url(../images/osinovets_lighthouses.png);
}

.location-beach {
  background-image: url(../images/laska_bitch.png);
}

.location-park {
  background-image: url(../images/park_300th_anniversary.png);
}

/* Команда */

.team-header {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 58px;
  line-height: 68px;
  text-align: center;
  color: #D46240;
}

.team-elements {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 297px;
  width: 297px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #FBF2DA;
}

.team-about {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  /* align-items: center; */

  color: #152B3C;
}

.team-about-text {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #152B3C;
}

.team-lee-1 {
  background-image: url(../images/sir_lee_wow_1.jpg);
}

.team-penelope {
  background-image: url(../images/penelope.jpg);
}

.team-mr {
  background-image: url(../images/mr_v_v.jpg);
}

.team-lee-2 {
  background-image: url(../images/sir_lee_wow_2.jpg);
}

/* Контакты */
.contacts-header {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 58px;
  line-height: 68px;
  text-align: center;
  color: #D46240;
}

.contacts-text {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #152B3C;

  width: 1060px;
  height: 84px;
  border: 1px solid #000;   /* временно */
}

.input-name {
  background-color: #fbf2da;
  border-radius: 8px;
}

.input-phone {
  background-color: #fbf2da;
  border-radius: 8px;
}

.input-description {
  background-color: #fbf2da;
  border-radius: 8px;
  width: 842px;
  height: 167px;


/* sand */

background: #FBF2DA;
border-radius: 8px;
}

.contacts-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  /* text-align: center; */
  color: #D46240;
}

.jackdaw {
  width: 32px;
  height: 32px;
}

.contacts-send {

}

.contacts-btn {
  width: 842px;
  height: 63px;
  background: #D46240;
  border-radius: 5px;
  }

.contacts-btn-font {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;

  align-items: center;
  text-align: center;

  color: #FFFFFF;
}


/* Подвал */

.footer-wrap {
    height: 87px;
  background: #152B3C;
}

.footer-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #FBF2DA;
  /* color: yellow; */
}

.footer-icon {
  /* background: #FBF2DA; */
  width: 26px;
  height: 26px;
}

.footer-list {
  display: flex;
}







